:root {
  --blue: #0C62F2;
  --pale-blue: #F1F7F9;
  --border-color: #ddd;
  
  --border: 1px solid var(--border-color);
}

input {
  padding: 10px;
  border: var(--border);
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f9fafb;
  color: #333;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
}

.search {
  text-align: end;
  margin: 16px 0;

  & input {
    width: 100%;
  }
}


.form-container {
  & form {
    display: flex;
    gap: 12px;
    justify-content: end;
    align-items: center;

    & button {
      background-color: var(--blue);
      color: white;
      transition: background-color 0.3s ease-in-out;
    }

    button:hover {
      background-color: var(--blue);
  }
  }
}

.number-of-rows {
  text-align: start;
  padding: 12px 15px;
}
