:root {
    --pale-blue: #F1F7F9;
    --border-color: #ddd;
    
    --border: 1px solid var(--border-color);
}

& .table-container {
    height: 400px;
    max-height: 600px;
    overflow-y: auto;
    border: var(--border);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  
    & table {
      height: 200px;
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed;
  
      & th,
      td {
        padding: 12px 15px;
        text-align: center;
        border-bottom: var(--border);
      }
  
      & thead th {
        position: sticky;
        top: 0;
        background-color: var(--pale-blue);
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
        z-index: 1;
  
        button {
          background-color: inherit;
  
        }
  
        button:hover, button:focus, button:active, button:focus-visible {
          border: none;
          outline: none;
        }
      }
  
      & tbody {
        height: 400px;
        overflow: auto;
      }
    }
  }